








.nomesobrenome{
	display: block
	vertical-align: top;
	padding: 10px;
}


.email{
	display: block;
	vertical-align: top;
	padding: 10px;
}


.telefone{
	display: block;
	vertical-align: top;
	padding: 10px;
}


.mensagem{
	display: block;
	vertical-align: top;
	padding: 10px;
}










































